  <div class="body app-header-fixed"  id="app">
    <div class=" body">
        <div class="app-header navbar header-black">
          <app-header></app-header> 
        </div>
        <div class="app-aside hidden-xs">
          <app-navbar></app-navbar>
        </div>
            
        <div class="app-content" role="main">
            <div class="app-content-body fade-in-up">
              <!-- <router-view></router-view> -->
            </div>
        </div>
        <app-footer></app-footer> 
    </div>
</div>



