#demo{
width:100%;
max-width: 1200px;
margin: 40px auto;
padding:0 20px;

}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
li {
    flex-grow: 1;
    flex-basis: 400px;
    text-align: center;
    padding:30px;
    border:1px solid #222;
    margin:10px;
}

 #demo p{
    font-size:12px;
}
