<!-- 
  <div id="navbar">
      <h3>导航条</h3>
      <ul>
          <li><router-link to="/app/demo">demo页</router-link> </li>
          <li><router-link to="/app/hello">hello页</router-link></li>
          <li><router-link :to="{name:'okay'}">OK页(默认test子页)</router-link></li>
          <li><a  @click="tohello()">方法跳转hello页</a></router-link></li>
          <li><router-link to="/app/okay/test">OK页+test子页</router-link></li>
          <li><router-link :to="{path:'/okay/test'} ">OK页+test子页</router-link></li>
          <li><router-link to="/okay/other">OK页+other子页</router-link></li>
          <li><router-link :to="{name:'other'}" >OK页+other子页</router-link></li>
         <li>
            <router-link :to="{ path: '/okay/other', query: { id: '12345' }}" >other带参数</router-link>
         </li>  
     
      </ul> 

  </div> -->

  <div class="navi bg-black">
    <ul class="nav">
        <li class="line dk"></li>
        <li class="nav-li" >
            <a routerLink="/app/user" href="javascript:void(0)" class="auto">
                <span class="pull-right text-muted">
                    <i class="glyphicon glyphicon-chevron-right text"></i>
                    <i class="glyphicon glyphicon-chevron-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-user icon text-info-dker"></i>
                <span>用户管理</span>
                <!-- <b class="badge bg-danger pull-right">{{total}}</b> -->
            </a>

            <ul class="nav nav-sub dk">
                <li class="nav-li lamyManage">
                    <a class="auto" >
                        <span>拉米管理</span>
                    </a>
                </li>
                <li class="nav-li">
                    <a class="auto" >
                        <span>模板管理</span>
                    </a>
                </li>
                <li class="nav-li">
                    <a class="auto" >
                        <span>意见反馈</span>
                    </a>
                </li>
            </ul>
        </li>


        <li class="nav-li">
            <a class="auto" >
                <i class="glyphicon glyphicon-usd icon text-info-dker"></i>
                <span>报价管理</span>
            </a>
        </li>
        <li class="nav-li">
            <a class="auto" >
                <i class="glyphicon glyphicon-usd icon text-info-dker"></i>
                <span>拉米商城</span>
            </a>
        </li>

        <li class="nav-li">
            <a href="javascript:void(0)" class="auto" >
                <i class="fa fa-comment icon text-info-dker"></i>
                <span>发送记录</span>
            </a>
        </li>

        <li class="nav-li">
            <a class="auto">
                <i class="glyphicon glyphicon-flag icon text-info-dker"></i>
                <span>活动页面</span>
            </a>
        </li>
        <li class="nav-li">
            <a class="auto">
                <i class="glyphicon glyphicon-yen icon text-info-dker"></i>
                <span>保证金管理</span>
            </a>
        </li>
        <li class="nav-li" >
            <a href="javascript:void(0)" class="auto">
                <span class="pull-right text-muted">
                    <i class="glyphicon glyphicon-chevron-right text"></i>
                    <i class="glyphicon glyphicon-chevron-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-list icon text-info-dker"></i>
                <span>排行榜管理</span>
            </a>

            <ul class="nav nav-sub dk">
                <li class="nav-li lamyManage">
                    <a class="auto">
                        <span>特优报价规则配置</span>
                    </a>
                </li>
                <li class="nav-li">
                    <a class="auto" >
                        <span>奖励拉米数配置</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>